/* Use the following lines to configure your font, main (accent) color and the maximum width. */
$main-font: 'Open Sans', sans-serif;
$header-font: 'Open Sans', sans-serif;
$code-font: 'Source Code Pro', Consolas, monospace;
$accent-color: #3399ff;
$max-content-width: 55rem;
